<div id="container" style="margin-left: 15px; margin-right: 15px; margin-top: 15px;">
    <hr/>
    <h3 style="text-align: center;">Trenutna ponuda hotelskog smeštaja</h3>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">NAZIV</th>
                <th scope="col">LOKACIJA</th>
                <th scope="col">PROSEČNA OCENA</th>
                <th scope="col">CENOVNI OKVIR</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let hotel of allHotels">
                <td>{{hotel.name}}</td>
                <td>{{hotel.address}}</td>
                <td>
                    <div class="profile-stars">
                        <!-- START NO 1-->
                        <div *ngIf="hotel.rate < 0.5; then thenBlock1 else elseBlock1"></div>
                        <ng-template #thenBlock1><i class="material-icons">star_border</i></ng-template>
                        <ng-template #elseBlock1>
                            <div *ngIf="hotel.rate < 1; then thenBlock11 else elseBlock11"></div>
                            <ng-template #thenBlock11><i class="material-icons">star_half</i></ng-template>
                            <ng-template #elseBlock11><i class="material-icons">star</i></ng-template>
                        </ng-template>
                        <!-- START NO 2-->
                        <div *ngIf="hotel.rate < 1.5; then thenBlock2 else elseBlock2"></div>
                        <ng-template #thenBlock2><i class="material-icons">star_border</i></ng-template>
                        <ng-template #elseBlock2>
                            <div *ngIf="hotel.rate < 2; then thenBlock22 else elseBlock22"></div>
                            <ng-template #thenBlock22><i class="material-icons">star_half</i></ng-template>
                            <ng-template #elseBlock22><i class="material-icons">star</i></ng-template>
                        </ng-template>
                        <!-- START NO 3-->
                        <div *ngIf="hotel.rate < 2.5; then thenBlock3 else elseBlock3"></div>
                        <ng-template #thenBlock3><i class="material-icons">star_border</i></ng-template>
                        <ng-template #elseBlock3>
                            <div *ngIf="hotel.rate < 3; then thenBlock33 else elseBlock33"></div>
                            <ng-template #thenBlock33><i class="material-icons">star_half</i></ng-template>
                            <ng-template #elseBlock33><i class="material-icons">star</i></ng-template>
                        </ng-template>
                        <!-- START NO 4-->
                        <div *ngIf="hotel.rate < 3.5; then thenBlock4 else elseBlock4"></div>
                        <ng-template #thenBlock4><i class="material-icons">star_border</i></ng-template>
                        <ng-template #elseBlock4>
                            <div *ngIf="hotel.rate < 4; then thenBlock44 else elseBlock44"></div>
                            <ng-template #thenBlock44><i class="material-icons">star_half</i></ng-template>
                            <ng-template #elseBlock44><i class="material-icons">star</i></ng-template>
                        </ng-template>
                        <!-- START NO 5-->
                        <div *ngIf="hotel.rate < 4.5; then thenBlock5 else elseBlock5"></div>
                        <ng-template #thenBlock5><i class="material-icons">star_border</i></ng-template>
                        <ng-template #elseBlock5>
                            <div *ngIf="hotel.rate < 5; then thenBlock55 else elseBlock55"></div>
                            <ng-template #thenBlock55><i class="material-icons">star_half</i></ng-template>
                            <ng-template #elseBlock55><i class="material-icons">star</i></ng-template>
                        </ng-template>
                    </div>
                </td>
                <td>{{hotel.pricesFrom}}$ - {{hotel.pricesTo}}$</td>
                <td>
                    <!-- Prenos id-ja kao parametra putanje komponenti -->
                    <button class="btn btn-success" routerLink="/hotel/{{hotel.id}}/details">
                        Detalji
                    </button>
                </td>
                <td>
                    <!-- Prenos id-ja kao parametra putanje komponenti -->
                    <button class="btn btn-primary" routerLink="/hotel/{{hotel.id}}/book">
                        Rezerviši
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
