<hr/>
<h5 style="text-align: center;">Rezultati filtriranja po zadatim parametrima</h5>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">MARKA</th>
            <th scope="col">MODEL</th>
            <th scope="col">GODINA</th>
            <th scope="col">CENA ZA JEDAN DAN</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let car of filteredCars">
            <td>{{car.brand}}</td>
            <td>{{car.model}}</td>
            <td>{{car.year}}</td>
            <td>{{car.pricePerDay}}$</td>
        </tr>
    </tbody>
</table>
