<hr/>

<div class="navbar-collapse">
    <ul>
        <div class="navbar-nav" style="vertical-align: bottom">
            <a class="nav-item nav-link active" id="nav-link" style="color: rgb(156, 23, 23)" routerLink="/flight">
                <i class="material-icons">airplanemode_active</i>
                Link za rezervisanje avionske karte
            </a>
            <a class="nav-item nav-link" id="nav-link" style="color: rgb(202, 189, 7)" routerLink="/hotel">
                <i class="material-icons">hotel</i>
                Link ka izboru hotelskog smeštaja
            </a>
            <a class="nav-item nav-link" id="nav-link" style="color: rgb(9, 94, 16)" routerLink="/car">
                <i class="material-icons">directions_car</i>
                Link ka rent-a-car opcijama
            </a>
        </div>
    </ul>
</div>
